Package: com.ioodo.release
Name: Release
Pre-Depends: firmware (>= 8.0)
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ioodo <ioododev@gmail.com>
Author: ioodo <ioododev@gmail.com>
Section: Tweaks