Package: com.ioodo.release
Name: iRelease
Pre-Depends: firmware (>= 8.0)
Depends: mobilesubstrate
Version: 0.0.4
Architecture: iphoneos-arm
Description: Quick quit running apps
Homepage: http://www.ioodo.com
Maintainer: ioodo <ioododev@gmail.com>
Author: ioodo <ioododev@gmail.com>
Section: Tweaks
Icon: file:///Library/PreferenceBundles/ReleasePreferences.bundle/ReleasePreferences@2x.png